<h1>저장된 지원 양식 보여주는 페이지</h1>

<a href="/apply_form/new">지원 양식 작성하기</a>
<br><br>
<% @forms.each do |x| %>
    club_id : <%=x.club_id%><br>
    title1 : <%=x.title1%><br>
    title2 : <%=x.title2%><br>
    title3 : <%=x.title3%><br>
    title4 : <%=x.title4%><br>
    title5 : <%=x.title5%><br>
    <a href="/apply_form/edit/<%=x.id%>">수정</a>
    <hr>
<%end%>