<div class="mypage_body">
    <div class="mypagebox">
    <h1> My Page </h1>
    
        <% @users.each do |u| %>
            <% if u.id == current_user.id %>
                <!--프로필이미지?<br>-->
                <p>이름 : <%= u.name %></p>
                <% unless Department.find(u.department_id) == nil%>
                <p>학과 : <%= Department.find(u.department_id).department_name %></p>
                <% end %>
                <% if u.grade_id == '1' || u.grade_id == '2' || u.grade_id == '3' || u.grade_id == '4'%>
                <p>학년 : <%= Grade.find_by_id(u.grade_id).grade_name %></p>
                <% end %>
                <p>학번 : <%= u.email %></p>
                <p>전화번호 : <%= u.phone_number %></p>
                <p>메일 : <%= u.mail %></p>
                <p><a href = '/users/<%=u.id%>/edit'>수정하기</a></p>
            <% end %>
        <% end %>
        
        <% unless @club_id == nil %>
            <p>소속 동아리 : <a href = '/club/my_club'><%= Club.find_by_id(@club_id).club_name %></a></p>
        <% end %>
        
        <!--지원자 또는 서버 관리자 또는 동아리관리자는 지원내용 확인하는 페이지로 갈 수 있도록 버튼활성화-->
        <% if ApplyContent.find_by_user_id(current_user.id) != nil || current_user.authorization == '0' || current_user.authorization=='1' %>
            <p><a href='/apply_content/index'>지원내용확인하기</a></p>
        <% end %>
    </div>
</div>