<h1>지원서 수정 페이지</h1>

<form action="/apply_content/update/<%= @apply_content.id %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <% @forms.each do |f| %>
        <% if @apply_content.apply_form_id == f.club_id %>
            <!--title에 해당하는 내용이 없으면 안보이게하고 content도 입력받지 않아야한다.-->
            <% unless f.title1 == nil %>
                title1: <%=f.title1%><br>
                content1: <textarea name="content1"><%=@apply_content.content1%></textarea><br><br>
            <% end %>
            <% unless f.title2 == nil %>
                title2: <%=f.title1%><br>
                content2: <textarea name="content2"><%=@apply_content.content2%></textarea><br><br>
            <% end %>
            <% unless f.title3 == nil %>
                title3: <%=f.title3%><br>
                content3: <textarea name="content3"><%=@apply_content.content3%></textarea><br><br>
            <% end %>
            <% unless f.title4 == nil %>
                title4: <%=f.title4%><br>
                content4: <textarea name="content4"><%=@apply_content.content4%></textarea><br><br>
            <% end %>
            <% unless f.title5 == nil %>
                title5: <%=f.title5%><br>
                content5: <textarea name="content5"><%=@apply_content.content5%></textarea><br><br>
            <% end %>
        <% end %>
    <% end %>
    
    <input type="submit" value="제출">
</form>