<h1>지원내용 확인 페이지</h1>
현재 로그인: <%= current_user.name %><br><br>

<!--동아리 관리자만 지원서를 볼 수 있어야함-->
<% if current_user.authorization == '1' %>
    <%current_user_club_id=ClubMember.find_by_user_id(current_user.id).club_id%>
    <% @forms.each do |x| %>
        <!--자신이 속한 동아리 지원서만 보이도록 해야함-->
        <% if x.club_id == current_user_club_id %>
            동아리 이름: <%=Club.find(x.club_id).club_name%><br>
                <% @apply_contents.each do |c| %>
                <%if c.apply_form_id == current_user_club_id %>
                    지원자: <%=c.user_id%><br>
                    title1: <%=x.title1%><br>
                    content1: <%= c.content1 %><br>
                    title2: <%=x.title2%><br>
                    content2: <%= c.content2 %><br>
                    title3: <%=x.title3%><br>
                    content3: <%= c.content3 %><br>
                    <%unless x.title4 == nil%>
                    title4: <%=x.title4%><br>
                    content4: <%= c.content4 %><br>
                    <% end %>
                    <%unless x.title4 == nil%>
                    title5: <%=x.title5%><br>
                    content5: <%= c.content5 %><br>
                    <% end %>
                    <% end %>
                <hr>
                <% end %>
        <% end %>
    <% end %>
<% end %>