<!--서버관리자: 전체 지원목록을 볼수 있음, 단체관리자: 소속된 단체의 지원 목록을 볼 수 있음, 일반 유저: 자신이 쓴 지원 목록밖에 못봄-->
<% if user_signed_in?%> 
    <% @contents.each do |x| %>
        <!--서버 관리자-->
        <% if current_user.authorization == '0' %>
            <a href ="/apply_content/user_application_view/<%= x.id %>"><%= User.find(x.user_id).name %></a>
            <a><%= x.apply_form.club.club_name %></a><br>
        <!--단체 관리자-->
        <% elsif current_user.authorization == '1' %>
            <!--현재 로그인한 클럽 id와 같은 user를 찾아냄-->
            <% if x.apply_form.club_id == @current_check_club.club_id %>
                <!--x.user.name으로 하면 에러가남(해결 못해서 User.find를 이용)-->
                <a href ="/apply_content/user_application_view/<%= x.id %>"><%= User.find(x.user_id).name %></a><br>
            <% end %>
        <!--일반 유저-->
        <% else %>
            <% if x.user_id == current_user.id %>
                <a href ="/apply_content/user_application_view/<%= x.id %>"><%= x.apply_form.club.club_name %></a><br>
            <% end %>
        <% end %>
    <% end %>
<% end %>